:root{
  --primary-color: #2f2f2f;
  --color-gradient1: #fff;
  --color-gradient2:#506f86;
  --color-orange:#fbb040;
  --dark-blue: #2f3c4f;
  --black:#000
}


.btn1 {
  width: 100px;
  padding: 6px 20px;
  font-size: 16px;
  color: var(--primary-color);
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, var(--color-gradient1), var(--color-gradient2));
  box-shadow: 4px 4px 5px 0px rgba(34, 60, 80, 0.7);
}

.btn2 {
  width: 50px;
  padding: 3px 10px;
  font-size: 10px;
  color: var(--color-orange);
  border-radius: 6px;
  border: 1px solid #2f3c4f;
  background: linear-gradient(to left, var(--color-gradient2), var(--color-orange));
}

.input3 {
  padding: 10px;
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--dark-blue);
  transition: border-color 0.3s ease-in-out;
}
.input3:hover {
  border: 2px solid var(--black);
}

.input4 {
  padding: 10px;
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--dark-blue);
  transition: border-color 0.3s ease-in-out;
}
.input4:hover {
  border: 2px solid var(--black);
}

.input5 {
  padding: 10px;
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--dark-blue);
  transition: border-color 0.3s ease-in-out;
  background: var(--color-orange);
}
.input5:hover {
  border: 2px solid var(--black);
}

.input6 {
  width: 50px;
  padding: 10px;
  border: 2px solid var(--color-orange);
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--dark-blue);
  transition: border-color 0.3s ease-in-out;
}
.input6:hover {
  border: 2px solid var(--black);
}
.label-box {
  position: relative;
  width: 270px;
}
.label-box::before, .label-box::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 1px;
  background-color: var(--color-orange);
  transition: width 0.2s;
}
.label-box::before {
  left: 50%;
}
.label-box::after {
  right: 50%;
}

input {
  width: 270px;
  padding: 5px;
  box-sizing: border-box;
  font-size: 18px;
  border: none;
  border-bottom: 1px solid var(--color-orange);
  background-color: var(--color-orange);
}
input:focus ~ .label-box::before, input:focus ~ .label-box::after {
  width: 50%;
}

label {
  position: absolute;
  top: -26px;
  left: 20px;
  font-size: 18px;
  pointer-events: none;
  color: var(--black);
  transition: 0.2s ease all;
}

input:focus ~ .label-box label, input:valid ~ .label-box label {
  font-size: 14px;
  transform: translateY(-20px);
}

.input8 {
  padding: 10px;
  border-bottom: 2px solid var(--black);
  border-radius: 5px;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: var(--dark-blue);
  transition: border-color 0.3s ease-in-out;
  background-color: var(--color-gradient1);
  outline: none;
}
.input8:hover {
  border-bottom: 2px solid var(--color-orange);
}
.input8:active {
  border-bottom: 2px solid var(--color-orange);
}
.input8:focus {
  border-bottom: 2px solid var(--color-orange);
}

/*# sourceMappingURL=style.css.map */
