.btn2{
    width: 50px;
    padding: 3px 10px;
    font-size: 10px;
    color: $orange;
    border-radius: 6px;
    border: 1px solid $dark-blue;
    background: linear-gradient(to left, $light-blue, $orange);
}